@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin size($width,$heigth:$width){
      width:$width;
      height:$heigth;
}
img{
    max-width: 100%;
    display: block;
}
body{
    background-color: #fbfbfb;
    padding: 5rem;
    min-height: 100vh;
}
.signup{
   @include size(110%);
    background-color: #f9faff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(black,0.1);
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    &__content,&__img{
        width: calc(50% - 4rem);
    }
    &__img{
        align-items: center;
        transform: translateY(8rem);
        // max-width: 120%;
        max-height: 100vh;
        
    }
    &__heading{
        font-weight:bold ;
        font-size: 4.5rem;
        margin-bottom:3rem;
        color: #291667;
    }
    &__caption{
        color:#ff4eb5;
        font-weight:bold;
        margin-bottom: 4.5rem;
        position: relative;
        padding-left: 12rem;
        &:before{
            content: "";
            width:10rem;
            height:2px;
            background-color: #ff4eb5;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1px;
        }
    }
    &-social {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 5rem;
        &__item {
            display: flex;
            // flex-wrap: nowrap;
            padding:1rem 0.5rem;
            border-radius: 6px;
            border: 1px solid #eee;
            justify-content: center;
            align-items: center;
            color: #292828;
            width: calc(50% - 0.9rem);
        }
        &__icon{
            margin-right:1rem;
        }
    }
    &-form{
        &__label{
            color: #292828;
            display: inline-block;
            margin-bottom: 1rem;
            transform: translateX(1rem);
        }
        &__input{
            padding: 1.5rem 1rem;
            border: 1px solid #cac7c7;
            background-color: #fafbff;
            border-radius: 10px;
            display:block;
            outline: none;
            width: 100%;
            transition: all 0.25s linear;
            &:focus{
                background-color: white;
                border-color: #fa327f;
                & + .signup-form__check{
                    background-color: #fa327f;
                }
            }
        }
        &__row{
            margin-bottom: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            // margin-right: 3rem;
            // width: calc(50% - 3rem);
            .signup-form__group{
                width: calc(50% - 0.9rem);
            }
        }
        &__term{
            input{
                display: none;
                // position: relative;
                &:checked + label::before{
                    border-color:#ff4eb5 ;
                    background-color: #ff4eb5;
                }
            }
            label{
                position: relative;
                padding-left: 3.5rem;
                margin: 3rem 0 3rem 0;
                display: inline-block;
                &::before{
                    content: "";
                    position: absolute;
                    @include size(1.5rem);
                    left: 0;
                    top:50%;
                    transform: translateY(-50%);
                    background-color: #fafbff;
                    border: 1px solid #dddada;
                    transition: all .3s linear;

                }
            }
        }
        &__submit{
            @include size(5rem);
            color: white;
            border: 0;
            border-radius: 3rem;
            background-color: #fa327f;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 65px;
            box-shadow: 0 10px 10px 0px rgba(#fa327f,0.5);
        }
        &__validate{
            position: relative;
            .signup-form__input{
                padding-right:4.5rem;
            }
        }
        &__check{
            @include size(3rem);
            border-radius: 4px;
            background-color: #eee;
            color: #3892f8;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0.5rem;
            top:50%;
            transform: translateY(-50%);

        }
        &__ready{
            margin-left: 2rem;
            font-size: 1.2rem;
            a{
                color: #fa327f;
            }
        }
    }
}
@media screen and (max-width:1439px) {
    .signup{
        &__content{
            width: calc(58% - 1rem);
        }
        &__img{
            width: calc(42% - 1rem);
        }
    }  
}

@media screen and (max-width:1279px) {
    .signup{
        &__content{
            width:100%;
        }
        &__img{
            display: none;
        }
    }  
}
@media screen and (max-width:1279px) {
   body{
       padding: 1.5rem;
   }
   .signup{
       padding: 1.5rem;
       &-social{
        flex-direction: column;
        &__item{
            width: 100%;
            margin-bottom: 1rem;
            }
        }
        &-form{
            &__row{
                flex-direction: column;
                margin-bottom: 0;
                .signup-form__group{
                    width: 100%;
                    // margin-bottom: 2rem;
                }
            }
            &__group{
                width: 100%;
                margin-bottom: 2rem;
            }
        }
   }
  
}
